
<p style="text-align: justify">Na podstawie danych, które Pan(i) wprowadził(a) przypuszczamy, że nie jest Pan(i) zainfektowana wirusem COVID-19.</p>
<br />
<p style="text-align: justify">W przypadku jeśli chciałby(aby) Pan(i) porozmawiać z naszym konsultantem proszę kliknąć ikonę czatu.</p>

