
<p style="text-align: justify">Na podstawie danych, które Pan(i) wprowadził(a) przypuszczamy, że może być Pan(i) zainfektowana wirusem COVID-19.</p>
<br />
<p style="text-align: justify">Proszę skontaktować się z naszym konsultantem, który dokona dokładniejszej diagnozy.</p>

